@import url("../fonts/hellix.css");


body {
    font-family: "Hellix", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
}

/* colors */
:root {
    --accent-color: #5528FF;
}

/* header */

.header-top {
    margin-top: 53px;
}

@media(max-width:576px) {

    .logo,
    .logo__footer {
        text-align: center;
        margin-bottom: 20px;
    }
}

.header__menu-link {
    font-size: 14px;
    line-height: 16px;
    color: #202020;
    padding: 6px 10px;

}

.header__menu-link:hover {
    width: 100px;
    height: 24px;
    color: #fff;
    background: var(--accent-color);
    border-radius: 5px;
    text-decoration: none;

}

@media(max-width:336px) {
    .header__menu-link {
        font-size: 12px;
    }
}

.header-hero {
    margin-top: 124px;
}

.header-hero-title {
    font-size: 55px;
    line-height: 68px;
    color: #202020;
    margin-bottom: 24px;
}

@media(max-width: 768px) {
    .header-hero-title {
        font-size: 30px;
        font-weight: 700;
    }
}

.header-hero-desc {
    font-size: 32px;
    line-height: 52px;
    color: #4F4F4F;
    margin-bottom: 55px;
}

@media(max-width: 768px) {
    .header-hero-desc {
        font-size: 24px;
        text-align: justify;
    }
}

.btn--contact {
    width: 235px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    background: var(--accent-color);
    padding: 13px 50px;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 100px;
}

.line-title {
    font-size: 14px;
    line-height: 16px;
    color: #C2C2C2;
    overflow: hidden;
    position: relative;
    margin: 0;
    white-space: nowrap;
    text-transform: uppercase;
}

.line-title::before,
.line-title::after {
    content: '';
    display: inline-block;
    position: relative;
    top: -3px;
    height: 1px;
    vertical-align: middle;
    background: #C2C2C2;
}

.line-title::before {
    left: -15px;
    margin-left: -66%;
    width: 70%;
}

.line-title::after {
    left: 15px;
    margin-right: -50%;
    width: 200%;
}

/* servises */

.servises {
    margin-top: 100px;
    margin-bottom: 100px;
}

.desc__servises {
    max-width: 290px;
}

@media(max-width: 426px) {
    .desc__servises {
        width: 230px;
    }
}

.servises__title {
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

@media(max-width: 426px) {
    .servises__title {
       font-size: 20px;
       font-weight: 500;
    }
}


.servises__text {
    font-size: 14px;
    line-height: 16px;
    color: #B2B2B2;
}


/* clients */

.clients {
    margin-top: 50px;
}
@media(max-width:576px){
    .img-wrap {
        text-align: center;
        width: 100%;
    }
}

/* team */

.team {
    margin-top: 100px;
    margin-bottom: 100px;
}

.name {
    font-size: 28px;
    line-height: 33px;
    color: #202020;
}

.profession {
    font-size: 14px;
    line-height: 16px;
    color: #B2B2B2;
}

/* footer */

.footer {
    background: #f7f7f7;
    padding: 20px 20px;
}

/* animation */

.icon_servises--left[data-scroll] {
    transition: all 1s ease-in-out ;
}

.icon_servises--left[data-scroll="in"] {
    transform: translateX(0);
    opacity: 1;
}

.icon_servises--left[data-scroll="out"] {
    transform: translateX(-100%);
    opacity: 0;
}

.desc__servises--left[data-scroll] {
    transition: all 1s ease-in-out ;
}

.desc__servises--left[data-scroll="in"] {
    transform: translateX(0);
    opacity: 1;
}

.desc__servises--left[data-scroll="out"] {
    transform: translateX(-100%);
    opacity: 0;
}

.icon_servises--right[data-scroll] {
    transition: all 1s ease-in-out ;
}

.icon_servises--right[data-scroll="in"] {
    transform: translateX(0);
    opacity: 1;
}

.icon_servises--right[data-scroll="out"] {
    transform: translateX(100%);
    opacity: 0;
}

.desc__servises--right[data-scroll] {
    transition: all 1s ease-in-out ;
}

.desc__servises--right[data-scroll="in"] {
    transform: translateX(0);
    opacity: 1;
}

.desc__servises--right[data-scroll="out"] {
    transform: translateX(100%);
    opacity: 0;
}

.clients[data-scroll] {
    transition: all 1s ease-in-out ;
}

.clients[data-scroll="in"] {
    opacity: 1;  
    
}

.clients[data-scroll="out"] {
    opacity: 0;  
}


.team[data-scroll] {
    transition: all 1s ease-in-out ;
}

.team[data-scroll="in"] {
    transform: rotateY(0);
}

.team[data-scroll="out"] {
    transform: rotateY(90deg);
}
