
@font-face {
    font-family: 'Hellix';
    src: local('Hellix Regular'), local('Hellix-Regular'),    
        url('Hellix-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hellix';
   
    src: local('Hellix Bold'), local('Hellix-Bold'),
        url('Hellix-Bold.woff') format('woff');   
    font-weight: bold;
    font-style: normal;
}


